<div class="Mrphs-container Mrphs-container--footer">

    #if (!$pagepopup)

        <footer id="footer" role="contentinfo" class="Mrphs-footer">

            <ul id="footer-links" class="Mrphs-footer--nav Mrphs-footer--nav__main">

                #foreach ( $bn in $bottomNav )

                    <li>
                        <span>${bn}</span>
                    </li>

                #end ## END of FOREACH ( $bn in $bottomNav )

            </ul>

        </footer>
        
        <div id="tutorial" class="Mrphs-tutorial Mrphs-modal"></div>
        <div id="social-alerts" class="Mrphs-tutorial Mrphs-modal"></div>

    #else 

        <!-- dont compact -->

    #end ## END of IF (!$pagepopup)

</div>
